#resultsTable {
  text-align: center;
}
.new-simulation-button-container {
  .toggle-button-col {
    text-align: center;
    margin-top: 30px;
    ion-button {
      text-transform: none;
    }
  }
}